/* цвета */
/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* цвет заголовка #ffffff */
/* акцент текста #2196F3 */
/* вторичынй цвет фона #2f303a */
/* акцент фона #2f303a*/
/* контакты футера rgba(255, 255, 255, 0.6) */
/* шрифты
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/* Общие стили начало */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --title-text-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-bgc: #f5f4fa;
  --accent-bgc: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}
body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
/* Page header */
/* Site nav */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration-line: none;
  color: #000000;
}
.logo .web {
  color: var(--accent-color);
}
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link,
.contacts-link {
  text-decoration: none;
}
.contacts-link {
  color: var(--secondary-text-color);
}
.link:visited {
  color: #000000;
}
.link:hover,
.link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* Buttons */
.btn {
  font-family: inherit;
  font-size: 16px;
  background-color: var(--secondary-bgc);
  color: var(--primary-text-color);
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--title-text-color);
}
/* Footer */
.footer {
  background-color: var(--accent-bgc);
  color: var(--title-text-color);
}
.studio {
  color: var(--title-text-color);
}
.location,
.auth-nav {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer .contacts-link {
  color: var(--footer-contacts-color);
}
/* List */
.list {
  list-style: none;
}
/* Общие стили конец */

/* WebStudio */
/* Hero */
.hero {
  letter-spacing: 0.06em;
  background-color: var(--accent-bgc);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--title-text-color);
}
/* Buttons WebStudio */
.btn.primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
/* Features */
.features .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.features .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* Work */
.work.title,
.team.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Team */
.section.team {
  background-color: var(--secondary-bgc);
}
.team-list > li {
  background-color: #ffffff;
}
.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* Portfolio */
/* Buttons Portfolio*/
.btn.secondary {
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
}
/* Work examples */
.section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}