/* цвет основного текста #212121 */
/* вторичный цвет текста rgba(117, 117, 117, 1); */
/* белый фон #FFFFFF */
/* вториынй цвет фона #2f303a */
/* акцент #18A0FB */

/* шрифты
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  --title-text-color: #212121;
  --primary-text-color: rgba(117, 117, 117, 1);
  --primary-bgc: #ffffff;
  --accent-bgc: #2f303a;
  --accent-color: #2196f3;
}
/* top line bg */
.body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-bgc);
}
/* Header position */
.page-header,
.site-nav,
.auth-nav {
  display: flex;
  flex-direction: row;
  margin: auto;
}
/* WebStudio */
.logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
}
.web {
  color: #2196f3;
}
/* Site Nav */
.navigation {
  position: absolute;
  width: 294px;
  height: 16px;
  left: 453px;
  top: 32px;
}
